{% extends "home_page.html" %}

{% block page-title %}
Проверка
{% endblock %}

{% block pagetitle %}
Проверка
{% endblock %}

{% block page-lead %}
Посмотрим что получилось
{% endblock %}

{% block content %}

<div class="container px-4 py-4" id="dict-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">Слово</th>
              <th scope="col" class="py-3">Перевод</th>
              <th scope="col" class="py-3">Ваш перевод</th>
              <th scope="col" class="py-3">Состояние</th>
            </tr>
          </thead>
          <tbody>
            {%for  eng_word, rus_word, y_rus_word, count in answer%}
            <tr>
                <td class="py-3">{{ eng_word }}</td>
                <td class="py-3">{{ rus_word }}</td>
                <td class="py-3">{{ y_rus_word }}</td>
                <td class="py-3">{% if count %} Верно{% else %} Неверно {% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>  
</div>
<div class="container-sm px-5 py-5" id="term-form-result">
    <h2 class="pb-2 border-bottom">Что дальше?</h2>
    <ul>
        <li>Попробовать <a href="/dictonary">ещё раз</a>,</li>
        <li>можно <a href="/write_word">добавить слово</a> в словарь, чтобы было интересней,</li>
        <li>зайти посмотреть <a href="/dictonary">словарик</a>,</li>
        <li>вернуться на <a href="/">главную.</a></li>
    </ul>
</div>

{% endblock %}